body{
	font-size: 20px;
	font-weight:bold;
	margin: 0;
	padding: 0;
}
.container{
	background: url(img/sprite.png) 50% 90% no-repeat;
	border: 3px solid rgba(250,239,206,1);
	width: 1000px;
	height: 500px;
	position: relative;
}

.expression{
	text-align: center;
	margin-top: 50px;
}


input{
	width:20px;
	border-radius: 4px;
	margin-left:50px;
	text-align: center;
	font-size: 20px;
	font-weight:bold;
}

#txt_2{
	display:none;
	position: absolute;	
}	


#txt_3{
	border:none;
	text-align: center;
	margin:0;
}

#half-circle_1{
    background-color: transparent;

    border: 3px solid #c4518f;
    border-bottom: 0;
    margin-left: 97px;
    margin-right: 0;
}

#half-circle_2{
	
    background-color: transparent;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border: 3px solid #c4518f;
    border-bottom: 0;
    margin-irght: 500px;
    position: absolute;
    bottom: 105px;
    display:none;
}
